button {
    border: none;
    background-color: transparent;
    width: 40%;
    margin-top: 0px;
    padding-top: 0px;
    font-size: 18px !important;
    color: #9E9E9E;
  }
  
  button:hover {
    color: green;
  }
  