<button (click)="view()">
        <fa-icon [icon]="faPencil" *ngIf="valueN == 'Propunere' || valueN =='Implementare'"></fa-icon>
        <fa-icon [icon]="faEye" *ngIf="valueN == 'Finalizat' || valueN == 'Blocat' || valueN == 'Anulat'"></fa-icon>
</button>