<div aria-labelledby="myModalLabel2" id="adauga-tichet" role="dialog" tabindex="-1">
      <div class="modal-dialog scroll-modal" role="document">
        <div class="modal-content py-4 px-3">
            <div class="row">
                <div class="col-12 d-flex justify-content-between">
                    <h2 class="modal-title" id="#myModal2"> Adaugă Proiect </h2>
                    <div>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button"
                            (click)="bsModalRef.hide()">
                            <span aria-hidden="true"> × </span>
                        </button>
                    </div>
                </div>
            </div>
            <!-- Creare proiect -->
            <div class="row">
                <div class="col-12">
                    <form #projectForm="ngForm">
                        <div class="row">
                            <div class="text col-12">
                                <h5> Creare Proiect </h5>
                            </div>
                        </div>
                        <!-- Severity -->
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="col-form-label" for="severity"> Dificultate* </label>
                                    <select [(ngModel)]="project.difficulty" class="form-control" id="severity" required
                                        name="severity" #severity="ngModel" optional>
                                        <option value="0">Scazuta</option>
                                        <option value="1">Medie</option>
                                        <option value="2">Maxima</option>
                                    </select>

                                    <div *ngIf="severity.invalid && (severity.dirty || severity.touched)"
                                    class="alert alert-danger">
                                    <div *ngIf="severity.errors.required"> Este necesara introducerea dificultatii.
                                </div>
                                    </div></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group mb-2">
                                    <label class="col-form-label" for="TextInput"> Subiect* </label>
                                    <input class="form-control" name="subject" required [(ngModel)]="project.name" minlength="4"
                                        #subject="ngModel" id="TextInput" type="text">
                                    <div *ngIf="subject.invalid && (subject.dirty || subject.touched)"
                                        class="alert alert-danger">
                                        <div *ngIf="subject.errors.required"> Este necesara introducerea subiectului.
                                        </div>
                                        <div *ngIf="subject.errors.minlength">
                                           Subiectul trebuie sa contina cel putin 4 caractere.
                                          </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group mb-2">
                                    <label class="col-form-label" for="TextInput"> Cost* </label>
                                    <input class="form-control" name="cost" required [(ngModel)]="project.cost"  mask="0*.00"
                                        #cost="ngModel" id="TextInput" type="text">
                                    <div *ngIf="cost.invalid && (cost.dirty || cost.touched)"
                                        class="alert alert-danger">
                                        <div *ngIf="cost.errors.required"> Este necesara introducerea costurilor.
                                        </div>
                              
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group mb-2">
                                    <label class="col-form-label" for="TextInput"> Durată implementare* (zile) </label>
                                    <input class="form-control" name="duration" required [(ngModel)]="project.duration" mask="0*.00"
                                        #duration="ngModel" id="TextInput" type="text">
                                    <div *ngIf="duration.invalid && (duration.dirty || duration.touched)"
                                        class="alert alert-danger">
                                        <div *ngIf="duration.errors.required"> Este necesara introducerea duratei de implementare.
                                        </div>
                                   
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group mb-2">
                                    <label class="col-form-label" for="TextInput"> Solicitare* </label>
                                    <textarea class="form-control" name="comment" required id="TextInput" type="text" minlength="20"
                                        [(ngModel)]="project.description" #comment="ngModel" placeholder=""></textarea>
                                    <div *ngIf="comment.invalid && (comment.dirty || comment.touched)"
                                        class="alert alert-danger">
                                        <div *ngIf="comment.errors.required"> Este necesara introducerea solicitarii.
                                        </div>
                                        <div *ngIf="comment.errors.minlength">
                                            Solicitarea trebuie sa contina cel putin 20 caractere.
                                           </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group ">
                                    <button class="btn btn-primary-action" [disabled]="projectForm.invalid || frozen"
                                        data-toggle="modal" (click)="createProject()" type="submit">
                                        <div class="text-white"> Continuă </div>
                                    </button>
                                </div>
                            </div>
                            <!-- Creare proiect -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- modal-content -->
    </div>
    <!-- modal-dialog -->
</div>
