
<app-spinner *ngIf="loading">
</app-spinner>
<app-breadcrumb [Breadcrumb]="Breadcrumb"></app-breadcrumb>
<div class="container-fluid">
  <div class="row">
    <div class="col-9">
      <app-title [project]="project"></app-title>
    </div>
    <div class="col-3" *ngIf="project.state">
      <button (click)="close()" class="button btn btn-cancel mb-3 btn-lg mr-4 btn-right" *ngIf="project.state == 1">
        Marchează ca implementat</button>
      <button (click)="enable()" class="button btn btn-cancel mb-3 btn-lg mr-4 btn-right "
        *ngIf="project.state ==0 || project.state ==2"> Marchează ca aflat în implementare</button>
      <button (click)="block()" class="button btn btn-reject mb-3 btn-lg mr-4  btn-right" *ngIf="project.state ==1">
        Blochează proiect</button>
        <button (click)="annul()" class="button btn btn-reject mb-3 btn-lg mr-4  btn-right" *ngIf="project.state ==0 || project.state ==2">
          Anulează proiect</button>
    </div>
  </div>
  <div *ngIf="showAlert" class="alert alert-success" role="alert"> Modificările au fost salvate cu
    succes. </div>
<div *ngIf="error" class="alert alert-danger" role="alert"> Operațiunea nu a putut fi efectuată, pentru mai multe informații apăsați <span (click)="showError()">
        <u>aici</u>. </span></div>
<div *ngIf="showMessage" class="alert alert-danger" role="alert"> {{errorMessage}}</div>
  <div class="row mr-2 ml-2 mt-0">
    <div class="col-3 ">
      <app-project-body [project]="project" [points]="points"></app-project-body>
      <li class="list-group-item" *ngIf="project.state ==0 || project.state ==1">
        <button (click)="sponsorProject()" class="button btn btn-secondary-action mb-1 btn-lg"> Sponsorizează această
          inițiativă</button>
      </li>
      <li class="list-group-item" *ngIf="project.state == 3 || project.state == 2 ||  project.state == 4">
        <button (click)="withdraw()" class="button btn btn-cancel mb-3 btn-lg"> Retrage fonduri</button>
      </li>
    </div>
    <div class="col-md-9 col-sm-12">
      <ul class="list-group">
        <li class="list-group-item">
          <h4> Postari </h4>
        </li>
        <li class="list-group-item no-border p-0">
          <div class="chatbox list-group-item m-0 p-0">
            <div #messageBody [scrollTop]="messageBody.scrollHeight" class="chatlogs">
              <app-post [comment]="firstComment" [project]="project"></app-post>
              <ng-container *ngIf="comments">
                <div *ngFor="let comment of comments; index as i">
                  <app-post [comment]="comment" [project]="project" [index]="i+1" (open)="getTotalPoints($event)"
                    [rated]="true"></app-post>
                </div>
              </ng-container>
            </div>
          </div>
          <div class="chat-form d-flex align-items-center justify-content-between">
            <input (keyup.enter)="makeComment()" [(ngModel)]="newComment" class="placehold border-0 w-100" id="textArea"
              placeholder="Scrie un comentariu">
            <button class="btn btn-success chat-btn float-right" (click)="makeComment()" [disabled]="frozen"
              type="submit"> Raspunde </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>