.white-color {
  background-color: #ffffff;
}

.brand-nav {
  font-size: 16px;
  color: #616161;
  font-weight: 600;
  line-height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.nav-link .la {
  margin-right: 8px;
}

.icon-font {
  font-size: 18px;
}

.nav-tab {
  margin: 0;
}

.a {
  color: #058a5b;
}

.nav-tabs {
  border: none;
}

.nav-tabs .nav-link.active {
  border-color: #fff;
  color: #058a5b;
  background-color: rgba(5, 138, 91, 0.1);
  border-radius: 4px;
  svg path {
    fill: #058a5b;
  }
}

.nav-tabs .nav-link:hover {
  border-color: #fff;
  color: #058a5b;
  background-color: rgba(5, 138, 91, 0.1);
  border-radius: 4px;
  svg path {
    fill: #058a5b;
  }
}

.nav-link {
  color: #616161;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.nav-tabs .nav-item {
  margin-left: 8px;
  margin-right: 8px;
}

.icon{
  margin-right: 5px;
}