<nav class="navbar navbar-expand-lg navbar-collapse white-color">
    <a class="navbar-brand brand-nav" href="#">
     Portal Initiative </a>
  <div class="navbar-collapse collapse justify-content-center">
      <ul class="navbar-nav navbar-center nav-tabs">
        <li class="nav-item">
          <a [routerLinkActive]="['active']" [routerLink]="['/dashboard']" class="nav-link">
            <svg width="18" height="16" viewBox="0 0 18 16" fill="none" class="icon">
              <path
                d="M9 0.140625L9.46875 0.53125L17.5938 8.65625L16.6562 9.59375L15.875 8.77344V15.375V16H15.25H10.875H10.25V15.375V9.75H7.75V15.375V16H7.125H2.75H2.125V15.375V8.77344L1.34375 9.59375L0.40625 8.65625L8.53125 0.53125L9 0.140625ZM9 1.89844L3.375 7.52344V14.75H6.5V9.125V8.5H7.125H10.875H11.5V9.125V14.75H14.625V7.52344L9 1.89844Z"
                fill="#616161" />
            </svg> Dashboard </a>
        </li>
        <li class="nav-item">
          <a [routerLinkActive]="['active']" [routerLink]="['/projects']" class="nav-link">
            <svg width="13" height="17" viewBox="0 0 13 17" fill="none" class="icon">
              <path
                d="M0.125 0.375H0.75H8.25H8.48438L8.71875 0.53125L12.4688 4.28125L12.625 4.51562V4.75V16V16.625H12H0.75H0.125V16V1V0.375ZM1.375 1.625V15.375H11.375V5.375H8.25H7.625V4.75V1.625H1.375ZM8.875 2.52344V4.125H10.4766L8.875 2.52344ZM3.25 6.625H9.5V7.875H3.25V6.625ZM3.25 9.125H9.5V10.375H3.25V9.125ZM3.25 11.625H9.5V12.875H3.25V11.625Z"
                fill="#616161" />
            </svg> Proiecte </a>
        </li>
        <li class="nav-item " *ngIf="owner == originAccount">
          <a [routerLinkActive]="['active']" [routerLink]="['/profile']" class="nav-link">
            <svg width="18" height="17" viewBox="0 0 18 17" fill="none" class="icon">
              <path
                d="M7.51562 2.05469C8.63542 0.934896 9.96354 0.375 11.5 0.375C13.0365 0.375 14.3516 0.934896 15.4453 2.05469C16.5651 3.14844 17.125 4.46354 17.125 6C17.125 7.53646 16.5651 8.86458 15.4453 9.98438C14.3516 11.0781 13.0365 11.625 11.5 11.625C10.6667 11.625 9.83333 11.4167 9 11V12.25V12.875H8.375H7.125V14.125V14.75H6.5H5.25V16V16.625H4.625H1.5H0.875V16V12.25V12.0156L1.03125 11.7812L5.95312 6.89844C5.90104 6.48177 5.875 6.18229 5.875 6C5.875 4.46354 6.42188 3.14844 7.51562 2.05469ZM14.5859 2.91406C13.7266 2.05469 12.6979 1.625 11.5 1.625C10.3021 1.625 9.27344 2.05469 8.41406 2.91406C7.55469 3.77344 7.125 4.80208 7.125 6C7.125 6.20833 7.16406 6.54688 7.24219 7.01562L7.28125 7.32812L7.04688 7.5625L2.125 12.5234V15.375H4V14.125V13.5H4.625H5.875V12.25V11.625H6.5H7.75V10.375V9.75H8.375H9.07812H9.23438L9.39062 9.82812C10.0417 10.1927 10.7448 10.375 11.5 10.375C12.6979 10.375 13.7266 9.94531 14.5859 9.08594C15.4453 8.22656 15.875 7.19792 15.875 6C15.875 4.80208 15.4453 3.77344 14.5859 2.91406ZM11.8516 3.89062C12.112 3.63021 12.4115 3.5 12.75 3.5C13.0885 3.5 13.375 3.63021 13.6094 3.89062C13.8698 4.125 14 4.41146 14 4.75C14 5.08854 13.8698 5.38802 13.6094 5.64844C13.375 5.88281 13.0885 6 12.75 6C12.4115 6 12.112 5.88281 11.8516 5.64844C11.6172 5.38802 11.5 5.08854 11.5 4.75C11.5 4.41146 11.6172 4.125 11.8516 3.89062Z"
                fill="#616161" />
            </svg> Profil</a>
        </li>
      </ul>

  </div>

</nav>