<div aria-hidden="true">
    <div class="modal-header">
        <h2 class="header">Sponzorizare</h2>
        <div>
            <button (click)="bsModalRef.hide()" aria-label="Close" class="close" data-dismiss="modal" type="button">
                <span aria-hidden="true"> × </span>
            </button>
        </div>
    </div>
    <div class="modal-body ">
        <div class="md-form ">
            <div class="form-group">
                <form #sponsorForm="ngForm">
                    <label class="subtitle2" for="value">Valoare sponsorizare</label>
                    <input class="form-control form-control-sm mb-0 ml-0" id="value" name="value" required mask="0*.0*" min="0"
                        #value="ngModel" [ngClass]="{'invalid': value.errors,'valid': !value.errors && value.dirty }"
                        type="text" [(ngModel)]="newValue">
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer justify-content-between">
        <button (click)="bsModalRef.hide()" class="button btn btn-lg btn-cancel" type="button">Renunță</button>
        <button (click)="sponsor()" class="button btn btn-lg btn-primary-action" type="button"
            [disabled]="saveDisabled || sponsorForm.invalid">Salvează</button>
    </div>
</div>