<div class="card-body">
    <div class="row">
      <div class="col-12">
        <div class="card-title">
          {{dashletEntity.name}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <canvas  (chartClick)="chartClicked($event)"
                (chartHover)="chartHovered($event)"
                [chartType]="doughnutChartType"
                [data]="dashletEntity.data"
                [labels]="dashletEntity.labels"
                [colors]="donutColors"
                baseChart></canvas>
  
      </div>
  
    </div>
  </div>
  