<div (click)="goTo(dashletEntity.drill_down_url)" class="card-body">
    <div class="card-title">
      {{dashletEntity.name}}
    </div>
    <div class="card-footer float-right p-0">
        <h4 class="pull-right">
          {{dashletEntity.value}}
        </h4>
        <h5>
          {{dashletEntity.key}}
        </h5>
    </div>
  </div>
  