<div class="overlay">
  <div class="spinner-wrapper">
    <div class="container">
      <div class="row">
        <div id="loader">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="loading"></div>
          <h3 class=" row spinner-message load"> {{funnies.message()}} </h3>
        </div>
      </div>
    </div>
  </div>
</div>