<app-spinner *ngIf="loading">
</app-spinner>
<app-breadcrumb [Breadcrumb]="Breadcrumb"></app-breadcrumb>
<form #projectForm="ngForm">
<div class="row ml-3" *ngIf="owner == originAccount">
    <div class="col-4">
        <div class="form-group ">
            <label class="col-form-label ml-2" for="TextInput"> Adresă White List </label>
            <input class="form-control ml-1" name="subject" required [(ngModel)]="address" #subject="ngModel" id="TextInput"
                type="text">
        </div>
        <div *ngIf="showAlert" class="alert alert-success" role="alert"> Modificările au fost salvate cu
            succes. </div>
        <div *ngIf="error" class="alert alert-danger" role="alert"> A aparut o eroare în salvarea
            datelor.</div>
    </div>
</div>
<div class="row ml-3" *ngIf="owner == originAccount">
    <div class="col-12">
        <div class="form-group ">
            <button class="btn btn-primary-action ml-2" (click)="addAddress()" type="submit" [disabled]="projectForm.invalid">
                <div class="text-white"> + Adaugă </div>
            </button>
            <button class="btn btn-primary-action ml-2" (click)="removeAddress()" type="submit" [disabled]="projectForm.invalid">
                <div class="text-white"> Șterge </div>
            </button>
        </div>
    </div>
</div>
</form>