.status {
    display: inline-block;
    font-size: 10px;
    height: 24px;
    font-weight: 600;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    line-height: 14px;
    text-align: center;
    align-items: center;
    letter-spacing: 1px;
    border-radius: 12px;
    margin: 3px 10px 0px 0px;
    padding: 5px;
    width: 100%;
  }

  .status-details{
    display: inline-block;
    font-size: 10px;
    font-weight: 600;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    line-height: 14px;
    letter-spacing: 1px;
    border-radius: 12px;
    margin: 3px 10px 0px 0px;
    padding: 5px;
    width: 40%;
    text-align: center;
    align-items: center;
  }
  
   .Propunere {
    color: #058a5b;
    background-color: #c9f9d5;
  }
  
  
   .Implementare{
    color: #e96e50;
    background-color: #fde4d1;
  }
  
  .Finalizat {
    background-color: #dadfff;
    color: #495cff;
  }
  
  .Blocat {
    color: #9E9E9E;
    background-color: #F5F5F5;
  }
  

  .Anulat{
    color:  #D8B105;
    background-color:  #FEFACD;
  }
