<div  [ngClass]="mapping[status]" *ngIf="details;else second" class="status-details">{{mapping[status]}} </div>
<ng-template #second>
    <div [ngClass]="mapping[status]"   class="status"> {{mapping[status]}} </div>
</ng-template>