<div class="container-fluid" style="background: #058a5b">
    <div class="row" >
        <div class="col-3">
            <div class="form-header ml-2 mt-2"  style="color: white"> Proiecte </div>
        </div>
        <div class="col-md-7">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text mt-2 mb-2" id="basic-addon1">
                        <fa-icon [icon]="faSearch"></fa-icon>
                    </span>
                </div>
                <input aria-describedby="basic-addon1" aria-label="Search" class="form-control mt-2 mb-2" type="text"
                    [(ngModel)]="search" (ngModelChange)="onFilterTextBoxChanged()">
            </div>
        </div>
        <div class="col-2">
            <button class=" button btn btn-secondary-action mt-2" data-target="#myModal2" data-toggle="modal"
                (click)="openModalWithComponent()" style="float:right"> + Adauga Proiect</button>
        </div>
    </div>
</div>
<div class="row mr-2 mb-0 pb-0">
    <div class="col-10">
        <ul class="nav nav-pills mb-0 pb-0 mt-4 ml-2">
            <li class="nav-item">
                <a [routerLink]="['/projects']" class="nav-link active"
                    [ngClass]="{'active':status == ''}">Toate proiectele</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/projects/open']" class="nav-link" [ngClass]="{'active':status == 'Propunere'}">Propuneri proiecte </a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/projects/implemented']" class="nav-link"
                    [ngClass]="{'active':status == 'Finalizat'}">Proiecte implementate</a>
            </li>
        </ul>
    </div>
    <div class="col-2">
        
    </div>
</div>
<div class="row mr-2 ml-2 mt-2">
    <div class="card col-12">
        <div class="row">
            <ag-grid-angular style="width: 100vw; height: 80vh;" [rowData]="rowData" class="ag-theme-balham" [gridOptions]="gridOptions"   (gridReady)="onGridReady($event)"
                (firstDataRendered)="onFirstDataRendered($event)" [columnDefs]="columnDefs">
            </ag-grid-angular>
        </div>
    </div>
</div>