<ng-container *ngIf="comment">
<div [ngClass]="{'loggedUser chat-reply':comment?.addr == account}" class="chat">
  <div class="user-photo" height="64" width="64">
    <img src="assets/1.jpg" alt="avatar" class="img-chat" />
  </div>
  <div class="chat-message">
    <div class="chat-padding">
      <strong class="username"> {{comment.addr}} </strong>
      <br>
      <span class="date" *ngIf="rated"> Număr total puncte: {{comment.points || 0 }} </span>
      <br>
      <br>
      <p> {{comment.comm}} </p>
    </div>
    <div class="attach" *ngIf="rated">
      <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="false"></ngb-rating>
      <button class="button btn btn-attachment mb-1" (click)="rate()">
     Evaluează
      </button>
    </div>
  </div>
</div>
</ng-container>