@import "~bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css";

$ag-row-height: 50px;
$ag-header-height: 50px;
$ag-foreground-color: #616161;
$ag-secondary-foreground-color: #616161;
$ag-font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$ag-secondary-font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$ag-secondary-font-weight: 600;
$ag-secondary-font-size: 12px;
$ag-font-weight: normal;
$ag-odd-row-background-color: white;
$ag-header-background-color: white;
$ag-border-color: #e0e0e0;
$ag-hover-color: rgb(73, 92, 255, 0.07);
$ag-selected-color: rgb(73, 92, 255, 0.07);
// $ag-card-shadow:  10px 10px;

@import "~ag-grid-community/src/styles/ag-grid.scss";
@import "~ag-grid-community/src/styles/ag-theme-balham/sass/ag-theme-balham.scss";

.ag-header-cell-label .ag-header-cell-text {
  white-space: normal !important;
}

.ag-theme-balham .ag-header-cell::after,
.ag-theme-balham .ag-header-group-cell::after {
  border-right: 1px solid rgb(255, 255, 255);
  border-left: 1px solid rgb(255, 255, 255);
}

.ag-theme-balham .ag-header {
  border-right: 1px solid rgb(255, 255, 255);
  border-left: 1px solid rgb(255, 255, 255);
}

.ag-theme-balham .ag-root {
  border: 1px solid rgb(255, 255, 255);
}

.ag-theme-balham .ag-header-row {
  border-top: 1px solid #e0e0e0;
}

.ag-theme-balham .ag-icon-checkbox-checked {
  background-color: #33b87c;
  color: white;
}




.btn-right {
  float: right;
}

.btn-secondary-action {
  background: #7686ff;
}

.btn-secondary-action:hover {
  background: rgb(238, 239, 255);
  color: #495cff !important;
}

.btn-attachment {
  background: white;
  color: #495cff !important;
  font-size: 10px !important;
}

.btn-primary-action {
  background: #33b87c;
}

.btn-primary-action:hover {
  background: #037659;
}

.btn-primary-action:disabled {
  background: #058a5b;
  opacity: 0.3;
  cursor: not-allowed;
}

.btn-secondary-action:disabled {
  background: rgb(238, 239, 255);
  color: #495cff;
  cursor: not-allowed;
}

.btn-reject {
  background: #e96e50;
}

.btn-reject:disabled {
  background: #db321c;
  opacity: 0.3;
  cursor: not-allowed;
}

.btn-reject:hover {
  background: #db321c;
}

.btn-cancel {
  background: #9e9e9e;
}

.btn-cancel:disabled {
  background: #616161;
  opacity: 0.3;
  cursor: not-allowed;
}

.btn-cancel:hover {
  background: #616161;
}

.button {
  color: white;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 600;
}

.btn-lg {
  font-size: 14px;
}

.button:hover {
  color: white;
}

.alert {
  font-size: 12px;
  text-align: center;
}

.alert-success {
  margin-top: 10px;
  color: #058a5b;
  background-color: rgb(5, 138, 91, 0.1);
}

.alert-danger {
  background-color: rgb(148, 86, 77, 0.1);
  color: #e96e50;
}

body {
  background-color: #e1e4ec;
  font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
}

h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.5px;
}

// .card-title {
//   font-style: normal;
//   font-weight: 600;
//   font-size: 16px;
//   line-height: 20px;
//   color: #212121;
// }

.card {
  box-shadow: 0px 2px 5px #5f789b;
}

.card-title {
  font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: #037659;
  margin-bottom: 0.75rem;
}

.card-subtitle {
  font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  color: #33b87c;
  margin-top: -(0.75rem / 2);
  margin-bottom: 0;
}


h4 {
  color: #212121;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
}

h5 {
  font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #33b87c;
  margin: 0px;
}

.card-footer {
  padding: inherit;
  background-color: none;
  border-top: inherit;
}


.notif-title {
      font-family:  Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
      font-size:12px;
      line-height: 22px;
      color: #058a5b;
    }

.notif-date, p {
      margin: 0px;
      font-family:  Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
      font-size: 12px;
      text-align: justify;
      line-height:22px;
      font-weight:  400;
      color: #9E9E9E;
    }

// CHATBOX 
/*chatbox*/

.chatbox {
  width: auto;
  height: auto;
  background: #fff;
  padding: 25px;
  margin: 20px auto;
}

.chatlogs {
  padding: 20px;
  height: calc(100vh - 290px);
  background: #FFFFFF;
  overflow-x: hidden;
  overflow-y: scroll;
  border-radius: 0px;
}

.chatlogs::-webkit-scrollbar {
  width: 10px;
}

.chatlogs::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #C0C0C0;
}

.chat {
  margin-top: 5px;
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  //align-items:      flex-start;
// margin-bottom:    10px;

  .user-photo {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 5px;
    margin-right: 5px;
    .ng-binding {
      padding-top: 12px;
      padding-left: 9px;
      font-size: 20px;
      color: black;
    }
  }

  .chat-message {
    width:            60%;
  //  padding:          20px;
   // padding-bottom:   0px;
  //  margin:           5px 10px 0;
    background:     #FAFAFD;
    border-radius:    4px;
    color:          #058a5b;
    font-size:        0.75rem;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(202, 207, 217, 0.3);
  }
}

.chat-reply {
  justify-content: flex-end;

  .user-photo {
    margin-right: 0;
    margin-left: 5px;
  }
}

.otherUser .chat-message {
  background:     #FAFAFD;
  color:           #212121;
}
.loggedUser {
  .chat-message {
    background:     #FFFFFF;
    color:           #212121;
    order:            -1;
    border-style:     solid;
    border-width:     1px;
    border-color:   #EFF1F4;
    text-align:       right;
   // margin-left:      5.5%;
  }

  .username,
  .date {
    float: right;
  }
}

.chat-form {
  .fa {
    font-size: 21px !important;
  }

  display: flex;
  align-items: flex-start;
  background: white;
  border-top: 1px solid #eee;
  position: absolute;
  bottom: 0px;
  width: 100%;
  margin-right: 15px;
  padding-left: 5px;

  input {
    //width:            -webkit-fill-available;
    height: 40px;
    border: none;
    border-radius: 3px;
    resize: none;
    padding: 10px;
    font-size: 16px;
    color: #333;

    .placehold {
      width: 80%;
      height: 40px;
      font-size: 16px;
      padding: 10px;
    }
  }

  .col-md-9 {
    background: white;
    margin-top: 0px;
  }

  button:hover {
    background: #13c8d9;
  }
}

button.btn.btn-success.chat-btn {
  font-size: 16px;
  width: auto;
  height: 40px;
  background: #47C796;
  border-radius: 0;
  border-color: transparent
}

.username {
  // color: ;
}

.date {
  //color:;
}

.historyLog {
  border: 2px solid black;
  border-radius: 3px;
  height: 550px;
  overflow-x: hidden;
  overflow-y: scroll;
}


.modal {
  position: fixed;
  top: 0px;
  bottom: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  outline: 0;
  left: 0 !important;
  right: auto !important;
  float: left;
  height: 100vh;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
}

.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
  transform: translate(30%, 0);
}


.modal.show .modal-dialog {
  transform: translate(0, 0);
  position: fixed;
  width: 41vw;
  right: 0;
}

.modal-dialog {
  height: 100vh;
  margin: 0 !important;
  float:right !important;
}

.modal-content {
 height: 100vh;
}


.form-header {
  display: inline-block;
  font-size: 24px;
  font-weight: 600;
  .status-header {
    vertical-align: text-bottom;
    margin-left: 10px;
  }
}


/* Importing Bootstrap SCSS file. */
//@import '~bootstrap/scss/bootstrap';
