<ul class="list-group">
  <li class="list-group-item">
    <h4> Detalii </h4>
  </li>
  <li class="list-group-item">
    <div class="title-text"> DATĂ </div>
    <div class="content-text"> {{convertDate(project.creationTime)}}</div>
  </li>
  <li class="list-group-item">
    <div class="title-text"> INIȚIATOR</div>
    <div class="content-text"> {{project.hostAddr}} </div>
  </li>
  <li class="list-group-item">
    <div class="title-text"> ID</div>
    <div class="content-text"> {{project.projectId}}</div>
  </li>
  <li class="list-group-item">
    <div class="title-text"> DURATA IMPLEMENTARE</div>
    <div class="content-text"> {{project.duration}}</div>
  </li>
  <li class="list-group-item">
    <div class="title-text"> COST</div>
    <div class="content-text"> {{project.cost}}</div>
  </li>
  <li class="list-group-item">
    <div class="title-text"> STATUS</div>
    <div class="content-text">
      <app-status-badge [status]="project.state" [details]="details"> </app-status-badge>
    </div>
  </li>
  <li class="list-group-item">
    <div class="title-text"> TOTAL PUNCTE</div>
    <div class="content-text">
      {{points}}
    </div>
  </li>
  <li class="list-group-item">
    <div class="title-text"> FONDURI COLECTATE</div>
    <div class="content-text">
      {{project.funds}}
    </div>
  </li>
  <li class="list-group-item">
    <div class="title-text"> FONDURI RETRASE</div>
    <div class="content-text">
      {{project.withdrawnFunds}}
    </div>
  </li>
  <li class="list-group-item">
    <div class="title-text"> DIFICULTATE</div>
    <ng-container *ngIf="project.difficulty">
    <div [ngSwitch]="project.difficulty">
      <div class="content-text" *ngSwitchCase="0">MICĂ </div>
      <div class="content-text" *ngSwitchCase="1"> MEDIE</div>
      <div class="content-text" *ngSwitchCase="2"> RIDICATĂ </div>
    </div>
    </ng-container>
  </li>
</ul>