.title-text {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #9E9E9E;
    letter-spacing: 0.5px;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
  }
  
  .content-text {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: #212121;
  }
  
  