<app-breadcrumb [Breadcrumb]="Breadcrumb"></app-breadcrumb>
<div class="row ml-4 mb-3 mt-0">
    <h2 class="col-12"> Dashboard</h2>
</div>

<div class="row">
    <div class="col-8">
        <div class="row">
    <div class="col-6 w-100" *ngIf="noOpen && noBlocked && noAwaiting && noClosed" >
        <div class="d-md-flex d-lg-flex d-xl-flex d-inline flex-row no-gutters py-2">
            <div class=" card w-100 ml-4">
                <app-dashlet-pie [dashletEntity]="dashletEntityPie"></app-dashlet-pie>
            </div>
        </div>
    </div>
    <div class="col-6 w-100" *ngIf="noHigh && noLow && noMedium">
        <div class="d-md-flex d-lg-flex d-xl-flex d-inline flex-row no-gutters py-2">
            <div class=" card w-100 mr-4">
                <app-dashlet-pie [dashletEntity]="dashletEntityPie2"></app-dashlet-pie>
            </div>
        </div>
    </div>
        </div>
<div class="row" >
    <div class="col-4 w-100" *ngIf="noOpen">
        <div class="d-md-flex d-lg-flex d-xl-flex d-inline flex-row no-gutters py-2">
            <div class=" card w-100 ml-4">
                <app-dashlet-number [dashletEntity]="dashletNumber1"></app-dashlet-number>
            </div>
        </div>
    </div>
    <div class="col-4 w-100" *ngIf="noAwaiting">
        <div class="d-md-flex d-lg-flex d-xl-flex d-inline flex-row no-gutters py-2">
            <div class=" card w-100 mr-4">
                <app-dashlet-number [dashletEntity]="dashletNumber2"></app-dashlet-number>
            </div>
        </div>
    </div>
    <div class="col-4 w-100">
        <div class="d-md-flex d-lg-flex d-xl-flex d-inline flex-row no-gutters py-2">
            <div class=" card w-100 mr-4">
                <app-dashlet-number [dashletEntity]="dashletNumber3"></app-dashlet-number>
            </div>
        </div>
    </div>

</div>


    </div>
 <div class="col-4">
    <div class="flex-shrink-1" style="width: 90%;">
        <div class="row no-gutters mt-3">
          <div class="col-md-12 py-2">
            <h4 class="text">
              Notificari
            </h4>
          </div>
        </div>
        <div *ngFor="let project of projectsNotif" class="row no-gutters mb-3">
            <div class="col-md-12 ">
              <div class="card">
                <div class="card-body">
                  <div class="row my-2">
                    <div class="col-md-6 notif-title text-left">
                     <button class="btn btn-link ml-0 pl-0" (click)="goTo('projects/'+project.id)"><strong>Proiect</strong> {{project.name}}</button>
                    </div>
                    <div class="col-md-6 notif-date pull-right text-right">
                      <em>{{convertDate(project.creationTime)}}</em>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 notif-text">
                      <p>
                        {{project.description}}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


     </div>
</div>